@import "tailwindcss";
@import "./fonts/stylesheet.css";

@theme {
  --font-sans: "Roboto Condensed", "sans-serif";
  --font-fugaz: "Fugaz One", "sans-serif";
  --breakpoint-3xl: 120rem;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-primary: #a52a2a;
  --color-muted: #f8f8f8;
  --color-white: #f4f4f4;
  --color-black: #040404;
  --color-background: #f2f2f2;
}

:root {
  --color-muted: #f8f8f8;
  --color-white: #f4f4f4;
  --color-black: #040404;
  --color-background: #f2f2f2;
}
.dark {
  --color-muted: #080808;
  --color-background: #020202;
}
.miniature {
  aspect-ratio: 4/3;
}

@layer base {
  body {
    font-family: "Roboto Condensed", "sans-serif";
    background-color: var(--color-background);
  }
}
.animated-link {
  text-decoration: none;
  padding: 0 10px;
  position: relative;
  transition: 0.4s;
}

.animated-link:hover {
  letter-spacing: 2px;
  transform: translateX(20px);
}

.animated-link:before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.animated-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
