/* Only include font variants that are actually used in the codebase */
/* Based on usage: Regular (400), Medium (500), Semibold (600), Bold (700), Light (300) */

@font-face {
  font-family: "Roboto Condensed";
  src: url("RobotoCondensed-Regular.woff2") format("woff2"),
    url("RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("RobotoCondensed-Medium.woff2") format("woff2"),
    url("RobotoCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("RobotoCondensed-SemiBold.woff2") format("woff2"),
    url("RobotoCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("RobotoCondensed-Bold.woff2") format("woff2"),
    url("RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("RobotoCondensed-Light.woff2") format("woff2"),
    url("RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
