---
import Layout from "@/layouts/Layout.astro";
---
<Layout>
  <div class="flex flex-grow justify-center items-center">
    <div class="flex items-center text-9xl font-light">
      <p>404</p>
      <p class="text-base">Ups!</p>
    </div>
  </div>
</Layout>
