---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <section
    class="flex flex-grow py-10 flex-col pb-40 justify-center items-center"
  >
    <h1 class="text-5xl md:text-7xl font-fugaz font-bold py-20 max-w-72">Know the artist</h1>
    <p class="max-w-72">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum delectus
      ad voluptatibus excepturi, nam illum? Ipsum dolore laboriosam ipsam maxime
      consequatur incidunt nisi vero suscipit facilis mollitia! Labore,
      consequatur illo laudantium fugiat earum enim suscipit sequi similique
      atque eveniet quibusdam hic facere asperiores eligendi sunt molestias
      aperiam, dolores laboriosam reprehenderit repudiandae! Animi a inventore
      eaque error.
    </p>
  </section>
</Layout>
