---
interface Props {
  text: string;
  href?: string;
}
import { Icon } from "astro-icon/components";

const { text, href } = Astro.props;
---

<div class="border-dotted border-1 w-64 h-25 relative ml-6 group cursor-pointer z-20">
  <a
    href={href ?? "#"}
    class="flex group p-2  w-64 justify-between border-1 absolute -left-1 -top-1  group-hover:-left-4 group-hover:-top-4 transition-all ease-in-out duration-500 cursor-pointer bg-white"
  >
    <p class="mt-auto">{text}</p>
    <Icon
      name="arrow"
      class="w-10 h-10 rotate-45 mb-10 mr-5 group-hover:translate-x-5 group-hover:translate-y-5 transition duration-500"
    />
  </a>
</div>
