---
import { Icon } from "astro-icon/components";
import DeskNav from "@/components/react/DeskNav";
import SearchBar from "@/components/react/SearchBar";
import { getCollection } from "astro:content";

const [blogEntries, collectionEntries] = await Promise.all([
  getCollection("blog"),
  getCollection("collection"),
]);

const searchItems = [
  ...blogEntries.map((p) => ({
    title: p.data.title as string,
    url: `/blog/${p.id}`,
    collection: "blog",
  })),
  ...collectionEntries.map((p) => ({
    title: p.data.title as string,
    url: `/collection/${p.id}`,
    collection: "collection",
  })),
];
---

<section
  class="hidden p-2 fixed right-6 md:flex flex-col w-2/12 py-10 justify-between h-full min-h-screen"
>
  <div class="flex justify-end relative z-10">
    <SearchBar items={searchItems} client:idle />
  </div>
  <DeskNav client:idle />
  <div
    class="flex flex-col justify-end items-end text-3xl gap-5 relative z-10 ab"
  >
    <a
      href="https://jramma.com"
      target="_blank"
      class="text-base rotate-90 absolute -top-30 -right-4">jramma &reg;</a
    >
    <a href="https://jramma.com" target="_blank"> <Icon name="insta" /></a>
    <a href="https://jramma.com" target="_blank"> <Icon name="pinterest" /></a>
  </div>
</section>
